*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  max-width: 60%;
  margin: 0 auto;
  padding: 2rem;
  box-shadow: 0 3px 10px rgb(0 0 0/0.2);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.top-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.title{
  display: flex;
  gap: 2rem;
}
.notifications{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.single-box{
  display: flex;
  gap: 2rem;
  align-items: center;
}
.notifi-text{
  display: flex;
  gap: 5px;
}
.private-text{
  border: 1px solid gray;
  padding: 1rem;
}
.avatar img{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}